/* regole css generali per qualsiasi risoluzione e regole per approccio
desktop first schermi superiori a 1100px */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
main.main-container {
    flex-grow: 1; /* va ad occupare tutto lo spazio disponibile */
    overflow: auto;
    display: flex;
    flex-direction: row;
}
nav.left-navbar {
    min-width: 200px;
    overflow: auto;
    flex-shrink: 0; /* per evitare che venga schiacciata dal main-content */
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
#logo-small {
    display: none;
}
.title {
    color: white;
    font-weight: 700;
    margin-left: 5px;
    font-size: 24px;
}
.album-title {
    color: white;
    text-align: center;
    margin: 8px 0 6px 0;
}
.subtitle {
    font-size: 12px;
    color: #717171;
    font-weight: bold;
    text-align: center;
}
.subtitl {
    font-size: 12px;
    color: #717171;
    font-weight: bold;
    margin-left: 5px;
}
#johndoe-title, .bottom-title {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 6px;
}
#row-top {
    margin-top: 15px;
}
#middle-row {
    margin-top: 15px;
}
.nav-item:last-child {
    padding-bottom: 5px;
}
.spotify-logo {
    width: 120px;
    margin: 15px 0 0 18px;
}
.icon {
    width: 25px;
    display: inline-block;
}
.icon-user {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
}
.icon-user svg {
    width: 21px;
    height: 21px;
}
#download {
    width: 22px;
    display: inline-block;
}
.icon-caption {
    display: inline-block;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-left: 4px;
}
.plus-caption {
    display: inline-block;
    color: #717171;
    font-size: 15px;
    font-weight: bold;
    margin-left: 8px;
}
.sub-overflow {
    flex-grow: 1;
    overflow: auto;
    padding: 15px 0 0 18px;
}
.sub-overflow ul {
    list-style-type: none;
}
.sub-overflow li {
    padding-bottom: 12px;
}
.sub-overflow li span {
    font-size: 14px;
    font-weight: bold;
    color: #717171;
}
.caption-big {
    font-size: 14px;
    margin-left: 8px;
}
.margin-row {
    margin-top: 5px;
}
.caption-gray {
    color: #717171;
}
.gray-svg svg {
    color: #717171;
    fill: currentColor;
}
.left-menu-navbar {
    list-style-type: none;
    margin-top: 20px;
}
.margin-caption {
    margin-left: 8px;
}
.left-menu-navbar li, .left-nav-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 3px 3px 18px;
}
.left-menu-navbar li:first-child {
    border-left: 3px solid #A7F62E;
    padding-left: 15px;
}
.main-content {
    flex-grow: 1; /* va ad occupare tutto lo spazio disponibile */
    overflow: auto;
}
.nav-item-big {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.sub-item {
    padding-top: 12px;
}
.sub-item h5 {
    color: white;
    text-transform: uppercase;
    font-weight: 750;
    padding: 10px 3px 6px 18px;
}
.plus-button {
    display: inline-block;
    background-color: #717171;
    width: 35px;
    height: 35px;
    padding: 8px;
    text-align: center;
}
.plus-button i {
    padding-top: 2px;
}
hr.bar {
    margin: 0 15px 0 18px;
    border: 0;
    border-top: 1px solid #717171;
}
footer.foot-play-nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
}
.item-play-nav {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
}
.play-nav-control {
    flex-grow: 1;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 65%;
    max-width: 510px;
}
.time {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.time-slider {
    flex-grow: 1;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 4px;
}
.indicator {
    display: none;
}
.time-slider:hover {
    cursor: pointer;
}
.time-slider:hover span.indicator {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -6.5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
}
.time-slider:hover .timing-player {
    background-color: #A7F62E;
}
div.icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: white;
}
span.big-icon {
    margin: 0 10px;
}
.item-play-nav:last-child {
    gap: 10px;
}
.item-play-nav:last-child i {
    color: white;
    padding: 3px;
}
.margin-reset {
    margin: 0;
}
.description {
    margin-left: 10px;
    margin-right: 30px;
}
.slider {
    height: 5px;
    background-color: #5A5A5A;
    flex-grow: 1;
    min-width: 80px;
    border-radius: 4px;
}
.timing {
    height: 5px;
    width: 30%;
    background-color: #C1C1C1;
    border-radius: 4px;
    position: relative;
}
.timing-player {
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 4px;
    width: 20%;
    position: relative;
}
.fav-icon-container i {
    padding: 4px;
    color: #717171;
}
.fav-icon-container i:hover {
    cursor: pointer;
    color: white;
}
.img-play-song {
    width: 60px;
}
.img-play-song img {
    width: 100%;
}
#subdescription {
    color: #717171;
    font-size: 11px;
    font-weight: bold;
}
.main-content-nav {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15px;
    background-color: #080B12;
    z-index: 10;
}
.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 25px;
}
.btn-black {
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}
.content {
    padding: 15px;
    background-color: #141922;
}
.music-cards {
    display: flex;
    flex-direction: row;
}
.music-cards .music-box {
    flex-basis: calc((100% / 6) - (5px * 2));
    min-height: 150px;
    margin: 0 5px;
}
.album-cover {
    position: relative;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.album-cover:hover .card-img-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.card-img-overlay i {
    font-size: 2.5rem;
}
.album-cover img {
    width: 100%;
}
.album-cover-rounded {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
}
.album-cover-rounded:hover .card-img-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.album-cover-rounded:hover img {
    opacity: 0.6;
}
.album-cover-rounded img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.margin-box {
    margin: 30px 0 20px;
}
.margin-box-bottom {
    margin: 20px 0;
}
nav.secondary-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 35px;
}
.secondary-navbar-item {
    color: #717171;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 0 0;
}
.secondary-navbar-item:first-child {
    position: relative;
}
div.secondary-navbar-item span:hover {
    cursor: pointer;
    color: white;
}
.left-menu-navbar li:hover {
    background-color: rgba(230, 230, 230, 0.3);
}
.left-menu-navbar li:hover .icon-caption {
    cursor: pointer;
    color: white;
}
.left-menu-navbar li:hover .icon svg {
    cursor: pointer;
    color: white;
    fill: currentColor;
}
div.left-nav-row:hover {
    background-color: rgba(230, 230, 230, 0.3);
}
div.left-nav-row:hover .plus-button {
    cursor: pointer;
    background-color: white;
}
div.left-nav-row:hover .plus-caption {
    cursor: pointer;
    color: white;
}
div.left-nav-row:hover #download svg {
    cursor: pointer;
    color: white;
    fill: currentColor;
}
div.left-nav-row:hover .icon-caption {
    cursor: pointer;
    color: white;
}
div.left-nav-row:hover .icon-user {
    cursor: pointer;
    border: 1px solid white;
}
div.sub-overflow ul li span:hover {
    cursor: pointer;
    color: white;
}
#subdescription:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.secondary-navbar-item hr {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    border-color: #A7F62E;
}
/* media queries */
/* schermi desktop fino a 1100px */
@media screen and (max-width: 1100px) {
    .cards-lg {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .music-cards .box-lg {
        flex-basis: calc((100% / 4) - (5px * 2));
    }
    nav.secondary-navbar {
        flex-wrap: wrap;
        row-gap: 30px;
        margin-bottom: 50px;
    }
    .slider {
        width: 70px;
    }
    .item-play-nav {
        width: 25%;
        min-width: 210px;
    }
}
/* schermi tablet fino a 700px */
@media screen and (max-width: 700px) {
    .music-cards .box-tablet {
        flex-basis: calc((100% / 2) - (5px * 2));
    }
    .item-play-nav {
        width: calc(100% / 3);
        min-width: 190px;
    }
    .item-play-nav:last-child {
        gap: 5px;
    }
    .description {
        margin-left: 5px;
        margin-right: 5px;
    }
    .fav-icon-container i {
        padding: 0;
    }
    .play-nav-control {
        width: calc(100% / 3);
    }
    .time-container {
        width: 100%;
        gap: 10px;
    }
}
/* schermi smartphone fino a 600px */ 
@media screen and (max-width: 600px) {
    #logo-spotify {
        display: none;
    }
    #logo-small {
        display: inline;
    }
    .spotify-logo-small {
        width: 28px;
    }
    .none-smartphone {
        display: none;
    }
    .nav-item:last-child {
        margin-top: auto;
    }
    nav.left-navbar {
        width: calc(18px + 28px + 18px);
        min-width: 64px;
    }
    .item-play-nav {
        min-width: 120px;
    }
    .item-play-nav:last-child {
        gap: 0;
    }
    .description {
        margin: 0;
    }
} /* aggiungi effetto hover ad ultima barra a destra in basso */